.myBlock{
    min-height: 10vh;
    background-color: #272a2a;

}

.introContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonBlock{
    margin: 10px;
}
