@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
@import './../../common/styles/sass/mixins';

@import './../../common/styles/sass/variable';
.work {
  width: 500px;
  border: 1px solid;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  text-align: left;

  .workPicture {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      background-color: #3bc72c;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: #2d2d2d;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .viewButton {
      background-color: rgba(38, 38, 37, 0.9);
      border: none;
      color: $primaryColor;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  }

  .description {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;

    .descriptionText {
      @include Text($titleFontFamily,15px, 400, 1.8, 2px);

    }

    .projectTitle {
      @include Text("'Besley', serif",20px, 600, 2.2, 2px);
      margin: 0
    }
  }

}











