@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,100&display=swap');

.title {
    /*background-color: #c2cec3;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: blanchedalmond;
    position: relative;
}
.title h2 {
margin: 5px;
}

.title::before{
    content: '';
    background: #11aa99;
    position: absolute;
    width: 55px;
    height: 1px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%)
}